[Unit]                                                                           
Description=Knob service                                                      
After=multi-user.target                                                          
[Service]                                                                        
Type=simple                                                                      
Restart=always                                                                   
ExecStart=/usr/bin/python3 /opt/moode-servo-volume/knob.py                       
[Install]                                                                        
WantedBy=multi-user.target
